## Settings file was created by plugin FineWoodPieces v1.3.6
## Plugin GUID: blacks7ar.FineWoodPieces

[1- ServerSync]

## If On, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2- Reed]

## If On, harvestable reeds will spawn across meadows and black forest biomes. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable = On

## Group radius. [Synced with Server]
# Setting type: Single
# Default value: 4
# Acceptable value range: From 1 to 50
Group Radius = 4

## Minimum group size. [Synced with Server]
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 20
Group Size Min = 4

## Maximum group size. [Synced with Server]
# Setting type: Int32
# Default value: 8
# Acceptable value range: From 1 to 20
Group Size Max = 8

## Maximum amount per zone. [Synced with Server]
# Setting type: Single
# Default value: 10
# Acceptable value range: From 1 to 20
Max = 10

[3- Clay-Pickable]

## If On, pickable clays will spawn to all biomes except ashlands and deepnorth. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable = On

## Group radius. [Synced with Server]
# Setting type: Single
# Default value: 2
# Acceptable value range: From 1 to 50
Group Radius = 2

## Minimum group size. [Synced with Server]
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 1 to 20
Group Size Min = 2

## Maximum group size. [Synced with Server]
# Setting type: Int32
# Default value: 6
# Acceptable value range: From 1 to 20
Group Size Max = 6

## Maximum amount per zone. [Synced with Server]
# Setting type: Single
# Default value: 20
# Acceptable value range: From 1 to 20
Max = 20

[4- Clay-Cluster]

## If On, a giant cluster of clays will spawn to all biomes except ashlands and deepnorth. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable = On

## Group radius. [Synced with Server]
# Setting type: Single
# Default value: 20
# Acceptable value range: From 1 to 50
Group Radius = 20

## Minimum group size. [Synced with Server]
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 20
Group Size Min = 1

## Maximum group size. [Synced with Server]
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 20
Group Size Max = 1

## Maximum amount per zone. [Synced with Server]
# Setting type: Single
# Default value: 5
# Acceptable value range: From 1 to 20
Max = 5

